*{margin: 0; padding: 0;font-family: "Microsoft YaHei";}
a{ text-decoration: none;outline: none; color: initial;}
a img{ border: none;}
html,body{ height: 100%;}
ul,ul li{list-style: none;}
body{background: #ccc;}
#container{ height: auto; }
#container h1{ font-size: 68px; margin: 100px auto 30px auto; text-align: center;color: #fff; text-shadow: 0 0 10px #666; font-weight: 400;}
#container h2{ font-size: 28px; margin: 30px auto 60px auto; text-align: center;color: #fff; text-shadow: 0 0 10px #666;font-weight: 400;}
#container h3{ font-size: 200px; margin: 60px auto 60px auto; text-align: center;color: #bbb;}
#container h3 span{ color: #aeaeae;}

#footer{ text-align: center; color: #666; position: absolute; bottom: 30px; left: 50%;}









